body {
    font-family: Roboto, sans-serif;
    margin: 0;
    background: #eaeaea;
}

header, footer {
    background: navy;
    color: white;
    padding: 1rem;
}

.navigation {
    display: none;
    flex-direction: column;
}

.navigaation.open{
    display: flex;
}

.hero {
    text-align: center;
    padding: 2rem;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}
