
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:whitesmoke;
    color: black;
    line-height: 1.6;
}

header, footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
}

main {
    max-width: 600px;
    margin: 2rem auto;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px lightgrey;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

label {
    font-weight: bold;
}

input, select, textarea {
    padding: 1rem;
    border-radius: 6px;
    border: 1px solid grey;
    font-size: 1rem;

}

input:focus,select:focus, textarea:focus {
    outline: none;
    border-color:navy;
    box-shadow: 0 0 4px  darkcyan;
}


textarea {
    min-height: 100px;
    resize: vertical;
}

fieldset {
    border: 1px solid lightgrey;
    padding: 1rem;
    border-radius: 8px;
}

legend {
    font-weight: bold;
    padding: 0 0.5rem;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 2rem;
    color: #888 ;
    cursor: pointer;
    transition: color 0.2s;
}

.rating label:hover, .rating label:hover ~label {
    color: gold;
}

.rating input:checked ~ label {
    color: gold;
}

.features {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.features label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: normal;
}

.features input[type="checkbox"] {
    width: auto;
}

input[type="submit"] {
    background-color: royalblue;
    color: white;
    border: none;
    padding: 0.8rem;
    font-size: 1.1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}

input[type="submit"]:hover {
    background-color: navy;
}

footer p {
    margin: 0.3rem 0;
    font-size: 0.9rem;
}

@media (max-width: 600px) {
    main{
        margin: 1rem;
        padding: 1.5rem;
    }
}

.feature-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}