:root {
    --primary-color: #686060;
    --text-color: #333;
}

@media (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}


body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header, footer {
    background-color: #bbafaf;;
    color: white;
    text-align: center;
    padding: 1rem;
}

main {
    padding: 1rem;
}
.hero {
    grid-column: span 2;
}

.hero img {
    width: 100%;
    height: auto;
}

@media (min-width:768px) {
    .weather-icon {
        display: none;
    }
}

.weather h2 {
    display: flex;
    align-items: center;
    gap: 0.05rem;
}
.weather h2::after {
    content: " ⛅";
}

.weather-icon {
    width: 24px;
    height: 24px;
}